<html>
<head>
    <% include ../static/partials/header.ejs %>
    <% include ../static/partials/navbar.ejs %>

</head>

<body>

        <% include ../static/partials/messages.ejs %>
    <h2>New Playlist</h2>
    <form method="post" class="float-left" style="margin: 5px; width: 50%;" action="/users/playlist/create">
        <div class="form-group" >
            <label for="name">New Playlist:</label>
            <input type="text" name="name" placeholder="enter playlist name" class="form-control"/>
            <input type="hidden" value="<%= song.id %>" name="songId"/>
        </div>

        <button type="submit" class="btn btn-primary">Create New</button>
    </form><br><br><br><br><br><br>


    <% if(playlists){ %>
        <% playlists.forEach((playlist) => { %>
            <div style="margin: 5px">
                <form method="POST" action="/users/playlist/addsong">
                    <h2><%= playlist.name %></h2>
                    <input type="hidden" value="<%= playlist.id %>" name="playlistId"/>
                    <input type="hidden" value="<%= song.id %>" name="songId"/>
                    <button type="submit" class="btn btn-primary">Add</button>
                </form>
            </div>
        <% }) %>
    <% } %>
</body>
<% include ../static/partials/baseScripts.ejs %>
</html>