<html>
<head>
    <% include ../static/partials/header.ejs %>
    <% include ../static/partials/navbar.ejs %>

</head>

<body>

    <% include ../static/partials/messages.ejs %>

    <% if(playlists){ %>
        <% playlists.forEach((playlist) => { %>
            <div>
                <a href="/users/playlist/playlists/<%= playlist.id %>" class="btn btn-primary"><%= playlist.name %></a>
            </div>

            <!--                <form method="POST" action="/users/playlist/playlists/<%= playlist.id %>">
                    <button type="submit" value="playlist.id" name="playlistId" class="btn btn-primary">
                        <%= playlist.name %>
                    </button>
                </form>-->
        <% }) %>
    <% } %>
</body>
<% include ../static/partials/baseScripts.ejs %>
</html>