<html>
<head>
    <% include ../static/partials/header.ejs %>
    <% include ../static/partials/navbar.ejs %>

</head>

<body>

    <% include ../static/partials/messages.ejs %>

    <form method="post" action="/users/playlist/create">
        <div class="form-group">
            <label for="name">New Playlist:</label>
            <input type="text" name="name" placeholder="enter playlist name" class="form-control"/>
        </div>

        <button type="submit" class="btn btn-primary">Create New</button>
    </form>

    <% if(playlists){ %>
        <% playlists.forEach((playlist) => { %>
            <div>
                <a href="/users/playlist/playlists/<%= playlist.id %>" class="btn btn-primary"><%= playlist.name %></a>
            </div>
        <% }) %>
    <% } %>
</body>
<% include ../static/partials/baseScripts.ejs %>
</html>