<html>
<head>
    <% include ../static/partials/header.ejs %>
    <% include ../static/partials/navbar.ejs %>

</head>

<body>

    <% include ../static/partials/messages.ejs %>

    
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1><%= playlist.name %></h1>
                <form action="/users/playlist/playlists/<%= playlist.id %>/delete" method="GET">
                    <button type="submit" class="btn btn-danger btn-sm">delete playlist</button>
                </form>
            </div>
        </div>
    </div>

    <% if(songs){ %>
        <% include ../static/partials/songList.ejs %>
    <% } %>
</body>
<% include ../static/partials/baseScripts.ejs %>
</html>