<font face = "Verdana" size = "3">
<div style="margin: 10">
    <a href="/"><img src="http://www.auplod.com/u/laduopb7344.png" alt="Image" border="0" /></a>
</div>
<style>
    body {
        background-color: #eff5ff;
    }
</style>
