<div>
        <div>
    
    
            <% if(messages.error) { %>
                <ul>
                    <div>Validation error: <% messages.error.forEach((error) => { %>
                    <li>
                        <% if(!error.msg){ %>
                            <%= error %>
                        <% } %>
                        
                        <%= error.msg %>
                    </li>
                <% }) %>
                    </div>
                </ul>
                <% } %>
                
        </div>
    
        <div>
                <% if(messages.notice) { %>
                    <ul>
                        <div>Notice: <% messages.notice.forEach((notice) => { %>
                        <li>
                            <%= notice %>
                        </li>
                    <% }) %>
                        </div>
                    </ul>
                    <% } %>
                    
            </div>
    
    </div>