<!DOCTYPE html>
<html>
<head>
    <% include ../static/partials/header.ejs %>
    <% include ../static/partials/navbar.ejs %>

</head>

<body>
    <% include ../static/partials/messages.ejs %>
        
    <div>
        
        <h3>Your Favorited Songs</h3>

        <% include ../static/partials/songList.ejs %>
    </div>
</body>

<% include ../static/partials/baseScripts.ejs %>

</html>
