<!DOCTYPE html>
<html>
<head>
    <% include ./partials/header.ejs %>
    <% include ./partials/navbar.ejs %>

</head>

<body>
        <% include ./partials/messages.ejs %>

        <div class="card">
            <div class="card-header">Top artist of the week (.....)</div>
            <div class="card-body">
                <div class="card-title">Check out (top artist of the week) latest album!</div>
                <div>Browse the top songs in dubstep, house, psytrance and more!</div>
            </div>
        </div>
<% include ./partials/songList.ejs %>
</body>

<% include ./partials/baseScripts.ejs %>

</html>


