<!DOCTYPE html>
<html>
<head>
    <% include ../static/partials/header.ejs %>
    <% include ../static/partials/navbar.ejs %>

</head>

<body>
        <% include ../static/partials/pageHead.ejs %>

        <% include ../static/partials/messages.ejs %>

<% include ../static/partials/songList.ejs %>
</body>

<% include ../static/partials/baseScripts.ejs %>

</html>
